<!doctype html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <button type="button" id="new-game">new game</button>

      <div class="game"></div>

      <div class="result"></div>
    </div>

    <script id="game-template" type="x-template">
      <ul>
        <% data.forEach(function(num, i) { %>
          <li class="i<%= i %>">
            <%= num %>
          </li>
        <% }); %>
      </ul>

      <div class="number-buttons">
        <% data.forEach(function(num, i) { %>
          <button type="button" value="<%= i %>">
            <%= i %>
          </button>
        <% }); %>
      </div>
    </script>

    <script id="result-template" type="x-template">
      <% if (data) { %>
        <h1>You won!</h1>
      <% } else { %>
        <h1>really?</h1>
      <% } %>
    </script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
  </body>
</html>
